

[submodule "lib/pkp"]
	path = lib/pkp
	url = https://github.com/carlosandresggdesarrollo/pkp-lib
[submodule "plugins/generic/usageStats"]
        path = plugins/generic/usageStats
        url = https://github.com/carlosandresggdesarrollo/usageStats.git
[submodule "plugins/generic/customBlockManager"]
	path = plugins/generic/customBlockManager
	url = https://github.com/carlosandresggdesarrollo/customBlockManager
[submodule "plugins/generic/staticPages"]
	path = plugins/generic/staticPages
	url = https://github.com/carlosandresggdesarrollo/staticPages
[submodule "plugins/generic/tinymce"]
	path = plugins/generic/tinymce
	url = https://github.com/carlosandresggdesarrollo/tinymce
[submodule "docs/manual"]
	path = docs/manual
	url = https://github.com/carlosandresggdesarrollo/omp-user-guide
[submodule "plugins/blocks/makeSubmission"]
	path = plugins/blocks/makeSubmission
	url = https://github.com/carlosandresggdesarrollo/makeSubmission.git
[submodule "plugins/reports/reviewReport"]
	path = plugins/reports/reviewReport
	url = https://github.com/carlosandresggdesarrollo/reviewReport.git
[submodule "plugins/generic/googleAnalytics"]
	path = plugins/generic/googleAnalytics
	url = https://github.com/carlosandresggdesarrollo/googleAnalytics
[submodule "lib/ui-library"]
	path = lib/ui-library
	url = https://github.com/carlosandresggdesarrollo/ui-library
